<header>
    <div class="main-header">
        {{#if @blog.navigation}}
            <nav id="navigationMenu" class="navigation-menu">
                <a id="menuButton" class="menu-button" href="javascript://" role="button">
                    <i class="fa fa-bars" aria-hidden="true">
                        <span class="sr-only">Open sidebar menu.</span>
                    </i>
                </a>
            </nav>
        {{/if}}
        <div class="brand-container">
            <div class="blog-logo">
                <img src="{{asset "images/blog-logo.png"}}" class="img-responsive">
            </div>
            <div class="blog-tag-line primary">
                <span id="primaryOccupation">&nbsp;</span>
            </div>
            <div class="blog-tag-line secondary">
                <span id="secondaryOccupation">&nbsp;</span>
            </div>
        </div>

        <div class="brand-profile">
            <div class="brand-profile-inner">
                <div class="brand-name first-name">
                    <span id="firstName">&nbsp;</span>
                </div>
                <div class="brand-avatar swing">
                    {{#if @labs.publicAPI}}
                        {{#get "users" limit="1"}}
                            {{#foreach users}}
                                <a href="{{url}}" title="{{name}}" class="brand-avatar-link">
                                    <img class="brand-avatar-inner" src="{{profile_image}}" alt="{{name}}">
                                </a>
                            {{/foreach}}
                        {{/get}}
                    {{else}}
                        <div class="brand-avatar-inner">&nbsp;</div>
                    {{/if}}
                </div>
                <div class="brand-name last-name">
                    <span id="lastName">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
</header>
