<div id="navigationSidebar" class="navigation-sidebar">
    <div class="navigation-header">
        <a id="navigationClose" href="javascript://" class="navigation-close" role="button" title="Close">
            <i class="fa fa-times fa-lg">
                <span class="sr-only">Close sidebar menu.</span>
            </i>
        </a>
    </div>
    <div class="navigation-content">
        <!--Explore-->
        <section class="navigation-section">
            <h2 class="section-title">Explore</h2>
            <nav>
                <ul class="list-unstyled section-list">
                    {{#foreach navigation}}
                        <li class="navigation-{{slug}} {{#if current}}navigation-current{{/if}} section-list-item" role="presentation">
                            <a href="{{url absolute="true"}}">{{label}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            </nav>
        </section>

        <!--About-->
        <section class="navigation-section">
            <h2 class="section-title">
                <span>About</span>
                <span id="firstNameAbout">&nbsp;</span>
            </h2>
            <p><span id="fullBio">&nbsp;</span></p>
        </section>

        <!--Contact-->
        <section class="navigation-section">
            <h2 class="section-title">
                <span>Contact</span>
                <span id="firstNameContact">&nbsp;</span>
            </h2>
            <p>
                I love to talk technology and share ideas. If you’re interested in collaborating, drop me an email.
            </p>
            <address>
                <a id="email" href="">&nbsp;</a>
            </address>
        </section>

        <!--Subscribe-->
        {{!--
        <section class="navigation-section">
            {{#if @labs.subscribers}}
                <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
            {{else}}
                <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
            {{/if}}
        </section>
        --}}
    </div>
</div>
<div id="navigationSidebarMask" class="navigation-sidebar-mask"></div>
