<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts pagination-item" href="{{page_url prev}}" title="Previous">&larr;</a>
    {{/if}}
    <span class="page-number pagination-item" title="{{page}} of {{pages}}">{{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts pagination-item" href="{{page_url next}}" title="Next"><span>&rarr;</span></a>
    {{/if}}
</nav>
