<div class="posts-latest">
    <header class="posts-latest-header">
        <h3 class="posts-latest-title">
            <span>Latest Posts</span>
        </h3>
    </header>
    <section class="posts-latest-content">
        {{#if posts}}
        <ul class="list-unstyled posts-latest-list">
            {{#foreach posts}}
                <li class="posts-latest-list-item">
                    <a href="{{url}}" class="posts-latest-article">{{title}}</a>
                    <time class="posts-latest-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                </li>
            {{/foreach}}
        </ul>
        {{else}}
            <span class="post-empty">New posts are coming soon!</span>
        {{/if}}
    </section>
</div>
