{{!-- Previous/next page links 
{{pagination}}
--}}

{{!-- This is the post loop - each post will be output using this markup --}}
<div class="posts-container">
    {{#if posts}}
        {{#foreach posts}}
            <article class="{{post_class}} postcard">
                {{#if tags}}
                    <section class="postcard-tags">
                        {{> "tags-label"}}
                    </section>
                {{/if}}
                <header class="postcard-header">
                    <h2 class="postcard-title">
                        <a href="{{url}}" class="title">{{title}}</a>
                    </h2>
                </header>
                <section class="postcard-content">
                    <div class="postcard-author">
                        By {{author}} on <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                    </div>
                </section>
                <footer class="postcard-footer">
                    <div class="postcard-read-more">
                        <a class="read-more" href="{{url}}">Read More &nbsp;<i class="fa fa-angle-double-right hidden" aria-hidden="true"></i></a>
                    </div>
                </footer>
            </article>
        {{/foreach}}
    {{else}}
        <span class="empty">New posts are coming soon!</span>
    {{/if}}
</div>
{{!-- Previous/next page links --}}
{{pagination}}
